<div class="region-inner region-sidebar-first-inner">
    <section class="block block-menu block-consultants-sidebar block-menu-consultant block-menu-menu-consultant odd" id="block-menu-menu-consultant">
        <div class="block-inner clearfix">
            <h2 class="block-title">Consultants</h2>

            <div class="content clearfix">
                <ul class="menu"><li class="first leaf"><a href="https://wikispaces.psu.edu/display/ITSLabConsulting/Lock+Combinations">Combo Page</a></li>
                    <li class="leaf"><a href="https://wikispaces.psu.edu/display/ITSLabConsulting">LabCon Wiki</a></li>
                    <li class="leaf"><a href="https://labconsulting.sas.psu.edu/labcons">LabCon Archive</a></li>
                    <li class="leaf"><a href="https://labman.css.psu.edu/tng-labcons/esched.cgi">LabCon Web Scheduler</a></li>
                    <li class="leaf"><a href="https://wikispaces.psu.edu/display/ITSLabConsulting/Labman+Client+Setup">Labman</a></li>
                    <li class="leaf"><a href="https://labconsulting.sas.psu.edu/labcentral/labtrack">Labtrack</a></li>
                    <li class="leaf"><a href="/#/labcentral/inventory">LabCon Inventory Entry</a></li>
                    <li class="leaf"><a href="https://clc.its.psu.edu/labhours/SelectPrintout.aspx">Classroom Schedules</a></li>
                    <li class="leaf"><a href="https://labconsulting.sas.psu.edu/achievements/leaderboard" title="View the site-wide achievements leaderboard.">Leaderboard</a></li>
                    <li class="leaf"><a href="/#/labcentral/reviewrecords">Supervisor Inventory</a></li>
                    <li class="last leaf"><a href="https://labconsulting.sas.psu.edu/labcentral/recommendations" title="Use this form to recommend an applicant for employment as a lab consultant.">Recommend an Applicant</a></li>

                </ul>
            </div>
        </div>
    </section>
</div>