<header id="section-header" class="section section-header">
    <div id="zone-user-wrapper" class="zone-wrapper zone-user-wrapper clearfix">
        <div id="zone-user" class="zone zone-user clearfix container-12">
            <div class="grid-4 region region-user-second" id="region-user-second">
                <div class="region-inner region-user-second-inner">
                    <div class="block block-search block-form block-search-form odd block-without-title" id="block-search-form">
                        <div class="block-inner clearfix">

                            <div class="content clearfix">
                                <form action="/" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
                                            <h2 class="element-invisible">Search form</h2>
                                            <div class="form-item form-type-textfield form-item-search-block-form">
                                                <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                                                <input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
                                            </div>
                                            <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-ceqDiReLIH_9hkDmcfBZNFYSlNwei6QeH16kUKKU0ZQ" />
                                            <input type="hidden" name="form_token" value="jPzL0Ahbw0-roCkkH5j5JYpNwy_WTrkPbPlj0VjSFWo" />
                                            <input type="hidden" name="form_id" value="search_block_form" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div id="zone-branding-wrapper" class="zone-wrapper zone-branding-wrapper clearfix">
        <div id="zone-branding" class="zone zone-branding clearfix container-12">
            <div class="grid-12 region region-branding" id="region-branding">
                <div class="region-inner region-branding-inner">
                    <div class="branding-data clearfix">
                        <div class="logo-img">
                            <a href="/" rel="home" title="" class="active"><img src="https://labconsulting.sas.psu.edu/sites/default/files/psumark_0.png" alt="" id="logo" /></a>
                        </div>
                    </div>
                    <section class="block block-menu consulting-content block-menu-consulting-navigation block-menu-menu-consulting-navigation odd" id="block-menu-menu-consulting-navigation">
                        <div class="block-inner clearfix">
                            <h2 class="block-title">Consulting Navigation</h2>

                            <div class="content clearfix">
                                <ul class="menu"><li class="first leaf"><a href="https://labconsulting.sas.psu.edu/consulting" id="consulting-main-nav" name="Consulting" class="main-link">Consulting</a></li>
                                    <li class="leaf"><a href="https://labconsulting.sas.psu.edu/communications" id="communication-main-nav" name="Communications" class="main-link">Communication</a></li>
                                    <li class="leaf"><a href="https://labconsulting.sas.psu.edu/labcons" id="alerts-info-main-nav" name="Alerts/Info" class="main-link">Alerts/Info</a></li>
                                    <li class="leaf"><a href="https://labconsulting.sas.psu.edu/labcentral/training" id="scheduling-events-main-nav" name="Scheduling/Events" class="main-link">Training Events</a></li>
                                    <li class="last leaf"><a href="https://labconsulting.sas.psu.edu/user" id="my-employment-main-nav" name="My Employment" class="main-link">My Employment</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>