<div class="region-inner region-content-inner">
    <a id="main-content"></a>
    <h1 class="title" id="page-title">New Record for <i>{{displayName}}</i></h1>
    <section class="block block-labcentral-contact-records block-contact-record-form block-labcentral-contact-records-contact-record-form odd" id="block-labcentral-contact-records-contact-record-form">

        <div class="block-inner clearfix">
            <div class="content clearfix">
                <form>
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>New</th>
                            <th>Used</th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="item in items | unique: 'item':lookupId">
                            <td>{{item}}</td>
                            <td><input type="number" ng-model="formData.qnew.[$index]"></td>
                            <td><input type="number" ng-model="formData.qused.[$index]" ng-if="item.indexOf('Paper')== -1"></td>
                            <td></td>
                        </tr>
                    </table>
                    <button ng-click="save($index)">Submit Inventory Record</button>
                </form>
            </div>
        </div>
    </section>

</div>